[Desktop Entry]
Encoding=UTF-8
Name=HRWROS MOOC Environment (non-NVIDIA)
Comment=Startup the environment for HRWROS (non-NVIDIA computers).
Exec=gnome-terminal -e 'bash -c "singularity shell ${HOME}/Downloads/hrwros-05.simg"' --class=hrwros_mooc_class
Icon=hrwros-mooc-icon.jpg
Terminal=false
Categories=ROS;MOOC;HRWROS;
Type=Application
StartupWMClass=hrwros_mooc_class
