[Desktop Entry]
Encoding=UTF-8
Name=HRWROS MOOC Environment (NVIDIA)
Comment=Startup the environment for HRWROS for computers with NVIDIA graphics cards.
Exec=gnome-terminal -e 'bash -c "singularity shell --nv ${HOME}/Downloads/hrwros_kinetic_desktop_v0.3.simg"' --class=hrwros_mooc_class
Icon=hrwros-mooc-icon.jpg
Terminal=false
Categories=ROS;MOOC;HRWROS;
Type=Application
StartupWMClass=hrwros_mooc_class
