[Desktop Entry]
Encoding=UTF-8
Name=HRWROS
Comment=Startup the environment for HRWROS (non-NVIDIA computers).
Exec=gnome-terminal -e '/bin/bash -c "/bin/mkdir -p /tmp/hrwros_run/dconf && XDG_RUNTIME_DIR=/tmp/hrwros_run /usr/bin/singularity shell -p $(xdg-user-dir DOWNLOAD)/hrwros-09.simg"' --class=hrwros_mooc_class
Icon=hrwros-mooc-icon.png
Terminal=false
Categories=ROS;MOOC;HRWROS;
Type=Application
StartupWMClass=hrwros_mooc_class
Actions=new-ccs
[Desktop Action new-ccs]
Name=New CCS
Exec=gnome-terminal -e '/bin/bash -c "/bin/mkdir -p /tmp/hrwros_run/dconf && XDG_RUNTIME_DIR=/tmp/hrwros_run /usr/bin/singularity shell -p $(xdg-user-dir DOWNLOAD)/hrwros-09.simg"' --class=hrwros_mooc_class

