[Desktop Entry]
Encoding=UTF-8
Name=HRWROS (NVIDIA)
Comment=Startup the environment for HRWROS for computers with NVIDIA graphics cards.
Exec=gnome-terminal -e '/bin/bash -c "/usr/bin/singularity shell -p --nv ${HOME}/Downloads/hrwros-09.simg"' --class=hrwros_mooc_class
Icon=hrwros-mooc-icon.jpg
Terminal=false
Categories=ROS;MOOC;HRWROS;
Type=Application
StartupWMClass=hrwros_mooc_class
