[Desktop Entry]
Encoding=UTF-8
Name=HRWROS MOOC Environment
Comment=Startup the environment for HRWROS
Exec=gnome-terminal -e 'bash -c "singularity shell ${HOME}/hrwros_on_kinetic_v0.1.simg"'
Icon=hrwros-mooc-icon.jpg
Terminal=true
Categories=ROS;MOOC;HRWROS;
Type=Application
